body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	background-color: #fff;
}

/*body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	opacity: 0.3;
	background: url("../img/nerds-catalog.jpg") no-repeat 50% 0;
 }*/

a {
	text-decoration: none;
}

.container {
	width: 1160px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;

	outline: 2px solid red;
}

.page_header {
	padding-bottom: 15px;
	outline: 2px solid blue;
}


.site_navigation {
	display: flex;
	justify-content: space-between;
	padding-top: 49px;

}

.header_logo {
	outline: 2px solid purple;
	width: 160px;
}

.navigation {
	display: flex;
	width: 520px;
	align-self: center;
	margin: 0px;
	flex-wrap: wrap;

	outline: 2px solid yellow;
}

.cart {
	align-self: center;

	outline: 2px solid orange;
}

.slider {
	height: 410px;

		outline: 2px dashed green;

}

.slider .container {
	position: relative;

}

.slider_controls {
	position: absolute;
	left: 46%;
	bottom: 96px;
	display: flex;
}

.slider_control_button {
	width: 18px;
	height: 18px;
	border: 4px solid #fff;
	background-color: #fff;
	border-radius: 11px;
	margin-right: 17px;

}

.slider_control_button:last-child {
	margin-right: 0px;
}

.slide_text {
	width: 380px;

	min-height: 425px;
	outline: 2px solid yellow;
}

.services {
	padding: 80px 0;
}

.services_list {
	display: flex;
	width: 1120px;
	flex-direction: row;
	margin: 0;

	outline: 2px solid green;
}

.service_item {
	margin-right: 100px;
	width: 300px;
}

.service_item:last-child {
	margin-left: 0;
}

.title_services {
	padding: 17px 0;
	margin: 0px;
}

.service_description {
	margin: 0px;
	padding-bottom: 29px;
}

.about_us {
	display:flex;
	justify-content: space-between;
	padding: 40px 0 50px 0;

	outline: 2px solid black;
}

.about_us_description {
	margin: 0;
	padding-bottom: 40px;
}

.service_scope_title,
.service_scope_list,
.clients_list {
	margin: 0;
}

.service_scope_title {
	padding-bottom: 25px;
}

.service_scope_list li {
	padding: 0 0 24px 35px;
}

.about_us_statistic {
	width: 360px;
}

.statistics_header {
	margin-top: 33px;
	padding-bottom: 45px;
}

.clients_list {
	display: flex;
	padding: 46px 0 43px;

	outline: 2px solid purple;
}

.clients_list li {
	width: 260px;
	margin-right: 40px;
	text-align: center;
	align-self: center;
}

.clients_list li:last-child {
	margin-right: 0px;
}


.contacts_info {
	padding: 82px 0 70px;
	background: url("../img/map.png") no-repeat 50% 50%;
	background-size: auto 415px;
	background-clip: content-box;

	outline: 2px solid yellow;
}

.contacts {
	width: 220px;
	background-color: #fff;
	margin: 54px 0;
	padding: 45px 50px 47px 50px;
	line-height: 18px;

	outline: 2px solid green;
}

.contacts_title {
	padding-bottom: 19px;
	line-height: 30px;
}

.contacts_adress {
	padding-bottom: 20px;
}

.contacts_telephone {
	padding-bottom: 35px;
}

.contacts_title,
.contacts_adress,
.contacts_telephone,
.socials,
.socials_pros_title,
.socials_pros_info {
	margin: 0;
}

.contact_us_button {
	padding: 17px 43px;
}

.get_social .container {
	display: flex;
}

.socials {
	outline: 2px solid orange;
	width: 260px;
	display: flex;
	justify-content: space-between;
	 flex-wrap: wrap;
}

a.social_button {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	color: transparent;
	background-color: #e1e1e1;
}

.social_button:hover {
	background-color: #e74246;
}

.social_button:active {
	background-color: #d7373b;
	opacity: 0.3;
}

.button_vk {
	background: url("../img/vk-icon.svg") no-repeat 50% 50%;
}

.button_fb {
	background: url("../img/fb-icon.svg") no-repeat 50% 50%;
}

.button_insta {
	background: url("../img/insta-icon.svg") no-repeat 50% 50%;;
}

.socials_pros {
	margin-left: 140px;

	outline: 2px solid green;
}

.socials_pros_title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000;
	padding: 5px 0 10px;
}

.socials_pros_info {
	line-height: 22px;
	margin-bottom: 50px;
}

.catalogue_header {
	display: flex;
	outline: 2px solid green;
}

main.inner_page .container {
	display: flex;
	justify-content: space-between;

	outline: 2px solid purple;
}

.filters {
	display: flex;
	flex-direction: column;
	width: 260px;
	margin: 0;

	outline: 2px solid yellow;	
}

.group_filter {
	border: none;
	padding: 0;
}

.price_filter {
	padding-top: 53px;
	margin-bottom: 55px;
}

.price_filter .filter_title {
	padding-bottom: 48px;
}

.price_range {
	width: 260px;
	height: 80px;
	background-color: #eeeeee;
	margin-bottom: 13px;
}

.price_filter input[type="text"] {
	max-width: 80px;
	height: 38px;
	background-color: #eee;
	border: none;
	border-radius: 2px;
	margin-left: 11px;
	line-height: 22px;
	text-align: center;
}

.price_inputs {
	display: flex;
	justify-content: space-between;
}

.canvas_filter,
.specs_filter {
	margin: 0 0 44px;
}

.canvas_filter li,
.specs_filter li {
	margin: 0 0 19px 8px;
}

.custom_filter .filter_title {
	padding-bottom: 15px;
}

.product_display {
	padding-left: 140px;
	margin: 0;

	outline: 2px solid blue;	
}

.product_item {
	position: relative;
	width: 360px;
	height: 575px;
}

.overlay {
	position: absolute;
	width: 360px;
	height: 233px;
}

.item_title {
	text-align: center;
	margin: 30px 0 20px 0;
}

.sort_products {
	margin: 52px 0;
	display: flex;
	justify-content: space-between;

	outline: 2px solid purple;	
}

.sort_products_criterias {
	display: flex;
	justify-content: center;
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	padding-left: 50px;
}

.sort_products_criterias li {
	margin-right: 15px;
}

.sort_products_numerous {
	position: relative;
	width: 40px;
	height: 10px;
	
	margin: 0;
	padding-top: 11px;

	outline: 2px solid yellow;
}

.sort_products_numerous a {
	display: flex;
	justify-content: space-between;
	width: 11px;
	height: 10px;
	color: transparent;
	margin: 0;
}

.sort_products_numerous a:first-child {
	background: url("../img/icon-down-dir.svg") no-repeat left bottom;
}	

.sort_products_numerous a:last-child {
	background: url("../img/icon-up-dir.svg") no-repeat right bottom;
}	

.catalogue {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	outline: 2px solid orange;	
}

.pagination_list {
	display: flex;

	outline: 2px solid purple;	
}

.navigation,
.cart,
.services_list,
.service_scope_list,
.clients_list,
.socials,
.sort_products_criterias,
.sort_products_numerous,
.canvas_filter,
.specs_filter {
	list-style: none;
	padding-left: 0;
}

.page_header,
.slider,
.catalogue_header {
	background-color: #eeeeee
}

.navigation a,
.cart a {
	display: inline-block;
	text-transform: uppercase;
	color: #000;
	line-height: 30px;
	font-weight: 500;
	padding: 7px 22px 0 22px;
}

.cart a {
	position: relative;
	padding-right: 0px;
	padding-left: 41px;
}

.cart a::before {
	content:"";
	position: absolute;
	top: 15px;
	left: 0px;
	width: 15px;
	height: 15px;
	background: url("../img/cart-icon.svg") no-repeat 0 0;
}

.navigation a:hover,
.cart a:hover {
	color: #fb565a;	
}

.navigation a:active,
.cart a:active {
	opacity: 0.3;
}

.header_logo:hover {
	opacity: 0.8;
}

.header_logo:active {
	opacity: 0.3;
}

.navigation_current {
	border-bottom: 3px solid #fb565a;
}

.button {
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	background-color: #fb565a;
}

.slide_title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000;
	margin: 0 0;
	padding: 57px 0 26px 0; 
}

.slide_description {
	padding-bottom: 37px;
	margin: 0;
}

.slide_button {
	padding: 17px 54px;
	text-align: center;
}

.slide_button:hover {
	background-color: #e74246;
}

.slide_button:active {
	background-color: #d7373b;
	color: rgba (255, 255, 255, 0.3);
}

.slide_first {
	background: url("../img/slide_first.png") no-repeat right top;

	outline: 2px dashed orange;
}

.slide_second {
	background: url("../img/slide_second.png") no-repeat;
}

.slide_third {
	background: url("../img/slide_third.png") no-repeat;
}

.title_services {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}

.site_button {
	padding: 17px 40px;
}

.site_button:hover {
	background-color: #e74246;
}

.site_button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
}

.app_button {
	padding: 17px 40px;
	background-color: #00ca74;
}

.app_button:hover {
	background-color: #00bc6c;
}

.app_button:active {
	background-color: #00aa62;
	color: rgba(255, 255, 255, 0.3);
}

.visuals_button {
	padding: 17px 40px;
	background-color: #efc84a;
}

.visuals_button:hover {
	background-color: #eab534;
}

.visuals_button:active {
	background-color: #e5a722;
	color: rgba(255, 255, 255, 0.3);
}

.service_scope_title,
.statistics_header {
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
}

.statistic_value {
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
	color: #000;
}

.statistic_criteria {
	line-height: 18px;
}

.client_logo {
	opacity: 0.2;
}

.client_logo:hover {
	opacity: 1;
}

.client_logo:active {
	opacity: 0.2;
}

.title_home {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #000;
	padding: 37px 0 31px;
	margin: 0;
}

.title_catalog {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	margin: 55px auto 110px;
}

.price_label {
	line-height: 22px;
	text-transform: uppercase;
	color: #283136;
}

.custom_filter {
	line-height: 20px;
	color: #283136;
}


.filter_input + label {
	color: #283136;
}

.filter_input:hover + label {
	color: #000;
}

.filter_input:disable + label {
	color: #000;
	opacity: 0.3;
}

.filter_button {
	padding: 18px 88px;
	margin-top: 2px;
	color: #000;
	background-color: #eee;
	border: none;
	font-size: 16px;
}

.filter_button:hover {
	background-color: #dfdfdf;
}

.filter_button:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}

.filter_title,
.sort_products_title,
.item_title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}

.product_info {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.sort_link {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.3);
}

.sort_link:hover {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.6);
}

.sort_link:active,
.current_sort {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	color: #000;
}

.price_button {
	display: inline-block;
	width: 200px;
	height: 50px;
	text-align: center;
}

.price_button:hover {
	background-color: #e74246;
}

.price_button:active {
	background-color: #d7373b;
}

.overlay {
	background-color: #efe5e6;
}

.pagination_item a,
.pagination_next_page a {
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #000;
}

.pagination_item {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #eeeeee;
	text-align: center;
}

.pagination_next_page {
	display: inline-block;
	width: 260px;
	height: 50px;
	background-color: #eeeeee;
	text-align: center;
}

.pagination_item:hover,
.pagination_next_page:hover {
	background-color: #dfdfdf;
}

.pagination_item:active,
.pagination_next_page:active {
	background-color: #d5d5d5;
}

.active_page_btn {
	background-color: #fff;
	box-shadow: inset 0 0 0 3px #dbdbdb;
}

.modal_title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	text-transform: none;
	color: #000;
}

.contact_us_form {
	line-height: 18px;
	font-weight: 700;
	color: #000;
}

.contact_us_form input[type="text"],
.contact_us_form textarea {
	line-height: 18px;
	color: #444444;
	border: 2px solid #d7dcde;
}

.contact_us_form input[type="text"]:hover,
.contact_us_form textarea:hover {
	border: 2px solid #b4b9bb;
}

.contact_us_form input[type="text"]:focus,
.contact_us_form textarea:focus {
	color: #000;
	border: 2px solid #000;
	outline: none;
}

/*
.contact_us_form input:required:invalid,
.contact_us_form textarea:reqired:invalid  {
	border: 2px solid red;
	color: red;
} */

.modal_button {
	background-color: #fb565a;
	display: inline-block;
}

.contacts_title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;	
}

.visually_hidden {
	position: absolute;
	display: none;
}

