body {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-weight: normal;
	font-family: Roboto;
}

h1 {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto;
}

h1.catalog {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto;
	text-transform: uppercase;
}

h2.modal_title {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto;
	text-transform: none;

}

h2.contacts_title {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto;
	text-transform: uppercase;
}