body {
	margin: 0;
	padding: 0;
	
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}


.navigation,
.cart,
.services_list,
.service_scope_list,
.clients_list,
.socials,
.sort_products_criterias,
.sort_products_numerous {
	list-style: none;
}

.navigation a,
.cart a {
	text-transform: uppercase;
	color: #000000;
	line-height: 30px;
	font-weight: 500;
}

.button {
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
	color: #ffffff;
}

.slide_title {
	font-size: 45px;
	line-height: 45px;
}

.slide_button {
	background-color: #fb565a;
}

.title_services {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.site_button {
	background-color: #fb565a;
}

.app_button {
	background-color: #00ca74;
}

.visuals_button {
	background-color: #efc84a;
}

.service_scope_title,
.statistics_header {
	text-transform: uppercase;
	font-weight: bold;
}

.statistic_value {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: bold;
}

.statistic_criteria {
	line-height: 18px;
}

.socials_pros_title {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

.socials_pros_info {
	line-height: 22px;

}

.contact_us_button {
	background-color: #fb565a;
}

.title_home {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}

.title_catalog {
	font-size: 55px;
	line-height: 55px;
	font-weight: bold;
}

.modal_title {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	text-transform: none;

}

.contact_us_form label {
	line-height: 18px;
	font-weight: bold;
}

.modal_button {
	background-color: #fb565a;
}

.contacts_title {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.visually_hidden {
	position: absolute;
	display: none;
}